<div>
  Testing page
</div>
<div>
  <shared-select [dropdownOptions]="dropdownOptions"
                 [placeholder]="placeholder"
                 [(selected)]="selectedOption"
  >
  </shared-select>
</div>
<div class="debug">
  <span>Debug:</span>
  <div class="flex-row">
    <button (click)="changePlaceholder()">Change placeholder</button>
    <button (click)="resetPlaceholder()">Reset placeholder</button>
    <button (click)="populateOptions()">Populate Options</button>
    <button (click)="populateShorterOptions()">Populate With Less Options</button>
    <button (click)="selectOption3()">Select Option 3</button>
  </div>
  <div class="flex-row">
    <span>Selected Option: {{selectedOption?.id}} - {{selectedOption?.label}}</span>
  </div>
</div>
